{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-xs-12 content">
            <h2>Список страниц</h2>
            <table class="table table-responsive table-striped">
                <tr>
                    <th>ID</th>
                    <th>Заголовок</th>
                    <th>slug</th>
                </tr>
                {% for page in pages %}
                    <tr>
                        <td>{{ page.id }}</td>
                        <td>
                            <a href="{{ url_for('page_edit', page_id=page.id) }}">{{ page }}</a>
                        </td>
                        <td>{{ page.slug }}</td>
                    </tr>
                {% endfor %}
            </table>
            <a href="{{ url_for('page_edit', page_id='create') }}" class="btn btn-primary">Создать новую страницу</a>
        </div>

    <div class="col-xs-12 content">
        <h2>Список галерей</h2>
        <table class="table table-responsive table-striped">
            <tr>
                <th>ID</th>
                <th>Заголовок</th>
                <th>slug</th>
                <th>Опубликовано</th>
            </tr>
        </table>
    </div>
    </div>
{% endblock %}